<!DOCTYPE html>
<html class="no-js consumer" lang="en">

<!-- Mirrored from www.google.com/intl/pt/chrome/demos/speech.html by HTTrack Website Copier/3.x [XR&CO'2013], Tue, 01 Apr 2014 01:31:31 GMT -->
<head>

    <script>
        (function (e, p) {
            var m = location.href.match(/platform=(win8|win|mac|linux|cros)/);
            e.id = (m && m[1]) ||
                   (p.indexOf('Windows NT 6.2') > -1 ? 'win8' : p.indexOf('Windows') > -1 ? 'win' : p.indexOf('Mac') > -1 ? 'mac' : p.indexOf('CrOS') > -1 ? 'cros' : 'linux');
            e.className = e.className.replace(/\bno-js\b/, 'js');
        })(document.documentElement, window.navigator.userAgent)
    </script>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <meta content="Google Chrome is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier."
          name="description">
    <title>
        Chrome Browser
    </title>
    <link href="https://plus.google.com/100585555255542998765" rel="publisher">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="~/Content/css/chrome.min.css" rel="stylesheet" />
    <script>
        new gweb.analytics.AutoTrack({
            profile: 'UA-26908291-1'
        });
    </script>
    <style>
        #info {
            font-size: 20px;
        }

        #div_start {
            float: right;
        }

        #headline {
            text-decoration: none;
        }

        #results {
            font-size: 14px;
            font-weight: bold;
            border: 1px solid #ddd;
            padding: 15px;
            text-align: left;
            min-height: 150px;
        }

        #start_button {
            border: 0;
            background-color: transparent;
            padding: 0;
        }

        .interim {
            color: gray;
        }

        .final {
            color: black;
            padding-right: 3px;
        }

        .button {
            display: none;
        }

        .marquee {
            margin: 20px auto;
        }

        #buttons {
            margin: 10px 0;
            position: relative;
            top: -50px;
        }

        #copy {
            margin-top: 20px;
        }

            #copy > div {
                display: none;
                margin: 0 70px;
            }
    </style>
    <style>
        a.c1 {
            font-weight: normal;
        }
    </style>
</head>
<body>
    @RenderBody()

    <script src="~/Scripts/chrome.min.js"></script>
</body>
</html>